{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    
</head>
<body>
    <h1>Legal</h1>

    <div class="container">
        <section class="header">
          <h2>Pagina de Doação </h2>
        </section>
    
        <form id="form" class="form">
          <div class="form-content">
            <label for="username">Nome</label>
            <input
              type="text"
              id="username"
              placeholder="Digite o seu nome..."
            />
          </div>
    
          <div class="form-content">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              placeholder="Digite o seu email..."
            />
          </div>
    
          <div class="form-content">
            <label for="telefone">Telefone</label>
            <input
              type="telefone"
              id="telefone"
              placeholder="Digite o seu telefone..."
            />
          </div>
    
          <div class="form-content">
            <label for="Valor">Valor</label>
            <input
              type="valor"
              id="valor"
              placeholder="Digite o valor..."
            />
          </div>
    
    
          <button type="submit">Enviar</button>
    
        </form>
    
      </div>
      
</body>
</html>