{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <script src="{% static '/scripts/script.js' %}"></script>
    
</head>
<body>
    
  <header class = "cabecalho">
    <div class="cabecalho_logo">
        <a href="#">
        <img class = "cabecalho_logo_imagem" src="{% static 'assets/Cachorro Logo Ozanimais.jpg'%}">
        
        <img class = "cabecalho_logo_imagem_escrita" src="{% static 'assets/Logo Ozanimais.jpg'%}">
        </a>
    </div>

    <nav>
        <ul class="cabecalho_lista">
            <li class="cabecalho__lista__item"><a class="cabecalho__lista__link" href="#">Sobre mim</a></li>
            <li class="cabecalho__lista__item"><a class="cabecalho__lista__link" href="#cachorros">Amicães</a></li>
            <li class="cabecalho__lista__item"><a class="cabecalho__lista__link" href="#form">Doacao</a></li>
        </ul>
    </nav>
        
    
  </header>
  <div class="hr_cabecalho"></div>

  <section class= "sobre">

    <img class="sobre_imagem" src="{% static 'assets/Foto_Dona.jpg'%}">

    <div class ="sobre_texto">
        <h1 class ="sobre_texto_titulo">Quem Sou Eu?!</h1>
        <p class ="sobre_texto_paragrafo">Desde pequena, minha paixão por cachorros me levou a transformar minha casa em um refúgio para eles. Assim nasceu a ONG "OZANIMAIS". Resgatamos, cuidamos e encontramos lares amorosos para cada um. Com o apoio da comunidade, realizamos eventos de adoção e campanhas de conscientização. Cada cauda abanando é uma vitória que nos enche de esperança.</p>
    </div>
    

  </section>

  <section id = "cachorros">
    <h1 class = "cachorros_titulo">alguns dos meus cachorros</h1>

    <div class = "cachorros_sessao">
        <div class = "cachorros_sessao_card">
            <img src = "{% static 'assets/matteo.jpg'%}" alt="Foto_Romeo" class = "cachorros_sessao_card_imagem"><img>
            <h1 class = "cachorros_sessao_card_nome">romeo</h1>
        </div>
        <div class = "cachorros_sessao_card">
            <img src = "{% static 'assets/matteo.jpg'%}" alt="Foto_Romeo" class = "cachorros_sessao_card_imagem"><img>
            <h1 class = "cachorros_sessao_card_nome">romeo</h1>
        </div>
        <div class = "cachorros_sessao_card">
            <img src = "{% static 'assets/matteo.jpg'%}" alt="Foto_Romeo" class = "cachorros_sessao_card_imagem"><img>
            <h1 class = "cachorros_sessao_card_nome">romeo</h1>
        </div>
        <div class = "cachorros_sessao_card">
            <img src = "{% static 'assets/matteo.jpg'%}" alt="Foto_Romeo" class = "cachorros_sessao_card_imagem"><img>
            <h1 class = "cachorros_sessao_card_nome">romeo</h1>
        </div>

    </div>

    <a href="{% url 'cachorros' %}" class="cachorros_botao">clique para conhecer mais!</a>

  </section>

  <div class = "centralizar">
    <div class="container">
        <section class="titulo_form">
          <h2>Pagina de Doação </h2>
        </section>
    
        <form id="form" class="form" method="post"  >
          {% csrf_token %}
          <div class="form-content">
            <label for="username">Nome</label>
            <input
              name = "nome"
              type="text"
              id="username"
              placeholder="Digite o seu nome..."
            />
          </div>
    
          <div class="form-content">
            <label for="email">Email</label>
            <input
              name="email"
              type="email"
              id="email"
              placeholder="Digite o seu email..."
            />
          </div>
    
          <div class="form-content">
            <label for="telefone">Telefone</label>
            <input
              name="telefone"
              type="telefone"
              id="telefone"
              placeholder="Digite o seu telefone..."
            />
          </div>
          
          <div class = 'form_pix'>
            <h1 class = "form_pix_titulo">Nossa chave pix:</h1>
            <span class = "form_pix_texto" >18497544706</span>
          </div>
    
          <button class = "enviar-mostrar" type="submit">Enviar</button>
          
        </form>

      </div>
        
    
      </div>

      <footer class = "rodape">
        
        <div class = "rodape_contato">
            <a class = "rodape_contato_link" href="mailto:ozanimais.ong@gmail.com"><span class = "rodape_contato_escrita">E-mail:</span> ozanimais.ong@gmail.com</a>
            <a class = "rodape_contato_link" href="https://www.instagram.com/ong.ozanimais/?hl=pt"><span class = "rodape_contato_escrita">Facebook:</span> ONG Ozanimais</a>
            <a class = "rodape_contato_link" href="https://www.instagram.com/ong.ozanimais/?hl=pt"><span class = "rodape_contato_escrita">Instagram:</span> ong.ozanimais</a>
        </div>

        <img src= "{% static 'assets/cachorropng.png'%}" alt="Logo_Ozanimais" class="rodape_logo">

        <div class = "rodape_info">
            <span>CNPJ: 184.975.447-06</span>
            <span>TEL: (21) 99696-7377</span>
            <a href="#">Acesso restrito</a>
        </div>

    </footer>
      
    <script src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static '/scripts/script.js' %}"></script>
    
</body>
</html>