@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comme", sans-serif;
}

section{
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.container{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
}

.sobre_cachorro{
    max-width: 700px;
    font-size: 25px;

}

.sobre_cachorro_titulo{
    text-decoration:underline;
    color: #FF6756;
}

.sobre_cachorro_titulo span{
    text-decoration: underline;
    color:#00D5FF;
}

.sobre_cachorro_paragrafo{
    padding: 30px;
    background-color:#FF6756 ;
    color:white;
    border-radius: 3px 45px 45px 45px;
}

.container .imagem{
    display: flex;
}

.container img{
    height: 500px;
    width: 500px;
    border-radius: 250px;
}

.invertido{
    padding-top: 350px;
    padding-bottom: 350px;
}